* {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
}
main {
  max-width: 1300px;
  margin: auto;
}
/* ******* all button styles ******** */

.btn-outline {
  color: #fff;
  text-align: center;
  font-family: Inter;
  background-color: #070211;
  border: 1px solid;
  text-transform: uppercase;
  padding: 2%;
  border-radius: 8px;
  margin-left: 4%;

  transition: 0.3s ease-in-out;
}
.btn-outline:hover {
  background-color: #e6dace;
  color: black;
  font-weight: 700;
  transition: 0.3s ease-in-out;
}
.btn-red {
  color: #fff;
  text-align: center;
  font-family: Inter;
  background: #f00;
  border: none;
  text-transform: uppercase;
  padding: 3% 5%;
  border-radius: 5px;
  font-weight: 500;
  margin-top: 5%;
}
.btn-red:hover {
  background-color: #e40404;
  font-weight: 700;
}
/* ****** header banner section styles ****** */
header h2 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
}

header h1 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}
header {
  max-width: 1300px;
  margin: 4% auto;
  height: 600px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/BannerImage.png") fixed;
  background-repeat: no-repeat;
  /* background-size: cover; */
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ******** HOLIDAY DEALS section styles ******* */

.deals-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* text-transform: uppercase; */
}
.deals-info h1 {
  color: #f00;
  padding: 4% 0%;
  font-family: Inter;
  font-size: 74px;
  font-weight: 700;
}
.deals-info h4 {
  color: #f00;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
}
.deals-info h2 {
  color: #070211;
  font-family: Inter;
  font-size: 40px;
  font-weight: 700;
  padding: 3% 0%;
}
.deals-container img {
  width: 50%;
  padding: 2%;
}

/* ********* midnight party section ******** */
.party-container {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/party.png") fixed;
  background-repeat: no-repeat;
  border-radius: 16px;
  width: 1300px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 5% 0%;
}
.party-info {
  width: 45%;
}

.party-info h1 {
  color: #fff;
  font-family: Merriweather;
  font-size: 57px;
  font-weight: 900;
  line-height: 80px;
  letter-spacing: 7.04px;
}
.party-info p {
  color: #e6dace;
  font-family: Inter;
  font-size: 18px;
  line-height: 28px;
  padding: 2% 0%;
}

/* ******* location and time section styles ****** */
.place-container {
  width: 1300px;
  height: 482px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  margin: 7% 0%;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.place-info h3 {
  text-align: center;
  font-family: Inter;
  font-size: 27px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
.text-red {
  color: #f00;
}
/* **********        new offer section styles      ********** */
.offer-section {
  display: flex;
  justify-content: space-around;
  gap: 3%;
  align-items: center;
  /* height: 90vh; */
}
.offer-info {
  width: 35%;
}
.offer-info h3 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}
.offer-info h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  padding: 3% 0%;
}
.offer-info p,
.offer-info-more p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 16px;
  line-height: 28px;
}

.offer-photo {
  width: 35%;
  height: 35%;
  border-radius: 463px;
  border: 15px solid #f00;
  display: flex;
  align-items: center;
  justify-content: center;
}
.offer-photo img {
  border-radius: 364.844px;
  padding: 5%;
}
.offer-info-more {
  width: 35%;
  margin-top: 5%;
}
.offer-info-more h2 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}
.offer-info-more img {
  padding: 3% 0%;
}
/* **********  discount section styles  *********** */
.discount-info {
  text-align: center;
  padding: 7% 15%;
}
.discount-info h3 {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.discount-info h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 60px;
  font-weight: 900;
  padding: 1%;
}
.discount-info p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
.discount-photo {
  position: relative;
  margin-top: 30%;
  /* height: 600px; */
}
.photo-1 {
  position: absolute;
  bottom: 100%;
  z-index: 20;
  right: 23%;
}
.photo-2 {
  position: absolute;
  bottom: 30%;
  z-index: 10;
  width: 55%;
}
.photo-3 {
  position: absolute;
  right: 1%;
  bottom: 100%;
}
.photo-4 {
  position: relative;
  max-width: 99%;
  margin: auto;
}
/* *******  Portfolio section styles  ******* */
.portfolio-container .offer-info {
  width: 60%;
  margin: 5% 1%;
}
.portfolio-container .offer-info h2 {
  padding: 1% 0%;
}
.portfolio-img {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  padding: 3% 0%;
  gap: 20px;
}
.portfolio-img img {
  width: 85%;
  height: 83%;
  margin: auto;
  -webkit-transform: scale(1.1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.portfolio-img img:hover {
  -webkit-transform: scale(1);
  transform: scale(1.1);
  border: 3px solid red;
  border-radius: 20px;
  box-shadow: 3px 5px 5px rgb(252, 128, 128);
}
/* **********   subscribe section styles   ********** */
.subscribe-container {
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  margin: 3% 0%;
}
.subscribe-container .offer-info {
  text-align: center;
  width: 70%;
  padding: 5%;
  margin: auto;
}
.input-container {
  width: 50%;
  margin: auto;
  margin-top: 3%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.text-field {
  width: 400px;
  height: 37px;
  flex-shrink: 0;
  color: rgba(7, 2, 17, 0.3);
  border-radius: 50px;
  background: #fff;
  border: 3px solid #fff;
  position: relative;
  padding: 1% 0% 1% 5%;
  outline-color: #f00;
}
.btn-subscribe {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  height: 50px;
  flex-shrink: 0;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  position: absolute;
  border: none;
  padding: 0% 2%;
  transition: 0.3s ease-in-out;
}
.btn-subscribe:hover {
  background: #ca0202;
  transition: 0.3s ease-in-out;
}
/* **********  footer section styles ********** */
footer {
  background: #070211;
  margin-top: 7%;
}

footer p {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
}
.footer-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5% 15% 0%;
}
.footer-info-rights {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0% 7% 5% 15%;
}
.footer-contact,
.footer-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.footer-icon img:hover {
  border: 4px solid white;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
}
hr {
  border: 1px #2c2835 solid;
  margin: 3% 7% 2% 15%;
}
